@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Sahel FD;
  src: url("../../public/fonts/Sahel-FD.eot");
  src: url("../../public/fonts/Sahel-FD.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/Sahel-FD.woff2") format("woff2"),
    url("../../public/fonts/Sahel-FD.woff") format("woff"),
    url("../../public/fonts/Sahel-FD.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Sahel FD;
  src: url("../../public/fonts/Sahel-Bold-FD.eot");
  src: url("../../public/fonts/Sahel-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/Sahel-Bold-FD.woff2") format("woff2"),
    url("../../public/fonts/Sahel-Bold-FD.woff") format("woff"),
    url("../../public/fonts/Sahel-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Sahel FD";
}

body {
  background-color: rgb(245 245 245);
}

body.active-modal {
  overflow: hidden;
}

form::-webkit-scrollbar {
  width: 6px;
}

form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

form::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
  border-radius: 4px;
}
